{% extends 'base.html' %}
{% block content %}
    <h1>Movies and Tv Shows Page</h1>
    <h2>Disney/Pixar Movies and TV Shows</h2>
    <p>Movies</p>
    <p>Lightyear	2022<br>
        Turning Red	2022<br>
        Luca	2021<br>
        Soul	2020<br>
        Onward	2020<br>
        Toy Story 4	2019<br>
        The Incredibles 2	2018<br>
        Cars 3	2017<br>
        Coco	2017<br>
        Finding Dory	2016<br>
        The Good Dinosaur	2015<br>
        Inside Out	2015<br>
        Monsters University	2013<br>
        Brave	2012<br>
        Cars 2	2011<br>
        Toy Story 3	2010<br>
        Up	2009<br>
        Wall E	2008<br>
        Ratatouille	2007<br>
        Cars	2006<br>
        The Incredibles	2004<br>
        Finding Nemo	2003<br>
        Monsters, Inc	2001<br>
        Toy Story 2	1999<br>
        A Bug's Life 1998<br>
        Toy Story	1995</p>
    <p>TV Shows</p>
    <p>Mickey Mouse Clubhouse (May 5, 2006-November 6, 2016)<br>
        Mickey Mouse Mixed-Up Adventures (January 15, 2017-present)<br>
        Puppy Dog Pals (April 14, 2017-present)<br>
        Vampirina (October 1, 2017-present)<br>
        Muppet Babies (March 23, 2018-present)<br>
        Fancy Nancy (July 13, 2018-present)<br>
        Gigantosaurus (January 18, 2019-present)<br>
        T.O.T.S. (June 14, 2019-present)<br>
        Bluey (September 9, 2019-present)<br>
        Mira, Royal Detective (March 20, 2020-present)<br>
        Spidey and His Amazing Friends (August 6, 2021-present)<br>
        Mickey Mouse Funhouse (August 20, 2021-present)</p>
    <h2>Holiday Movies and TV Shows</h2>
    <p>Holiday Movies</p>
    <p>A Christmas Love Story - 2019<br>
        Love Takes Flight - 2019<br>
        Christmas Everlasting - 2018<br>
        The Beach House - 2018<br>
        The Christmas Train - 2017<br>
        Love Locks - 2017<br>
        A Heavenly Christmas - 2016<br>
        Just in Time for Christmas - 2015<br>
        Away & Back - 2015<br>
        One Christmas Eve - 2014<br>
        In My Dreams - 2014<br>
        Christmas in Conway - 2013<br>
        Remember Sunday - 2013<br>
        The Makeover - 2013<br>
        Christmas with Holly - 2012<br>
        Firelight - 2012<br>
        A Smile as Big as the Moon - 2012<br>
        Have a Little Faith - 2011<br>
        Beyond the Blackboard- 2011<br>
        The Lost Valentine - 2011<br>
        November Christmas- 2010<br>
        When Love Is Not Enough: The Lois Wilson Story - 2010<br>
        Front of the Class - 2010<br>
        A Dog Named Christmas - 2009<br>
        The Courageous Heart of Irena Sendler - 2009<br>
        Loving Leah - 2009<br>
        Front of the Class - 2008<br>
        Sweet Nothing In My Ear - 2008<br>
        The Russell Girl - 2008<br>
        Pictures of Hollis Woods - 2007<br>
        Crossroads: A Story of Forgiveness - 2007<br>
        The Valley of Light - 2007<br>
        Candles on Bay Street - 2006<br>
        In From the Night - 2006<br>
        The Water Is Wide - 2006<br>
        Silver Bells - 2005<br>
        Riding the Bus with My Sister - 2005<br>
        The Magic of Ordinary Days - 2005<br>
        Back When We Were Grownups - 2004<br>
        Plainsong - 2004<br>
        The Blackwater Lightship - 2004<br>
        Fallen Angel - 2003<br>
        A Painted House - 2003<br>
        Brush With Fate - 2003<br>
        The Locket - 2002<br>
        Little John - 2002<br>
        My Sister's Keeper - 2002<br>
        The Seventh Stream - 2001<br>
        In Love and War - 2001<br>
        Follow the Stars Home - 2001<br>
        The Flamingo Rising - 2001<br>
        The Runaway - 2000<br>
        The Lost Child - 2000<br>
        Cupid & Cate - 2000<br>
        Missing Pieces - 2000 </p>
    <h2>Adult Movies and TV Shows</h2>
    <p>Adult Movies</p>
    <p>Rocky (1976)<br>
        Rocky IV (1985)<br>
        Rocky III (1982)<br>
        Rocky V (1990)<br>
        Rocky Balboa (2006)<br>
        Rocky II (1979)<br>
        Creed (2015)<br>
        Creed II (2018)<br>
        The Party at Kitty and Stud's (1970)<br>
        No Place to Hide (1970)<br>
        The Lords of Flatbush (1974)<br>
        Capone (1975)<br>
        Death Race 2000 (1975)<br>
        Farewell, My Lovely (1975)<br>
        F.I.S.T. (1978)<br>
        Paradise Alley (1978)<br>
        Nighthawks (1981)<br>
        Escape to Victory (1981)<br>
        First Blood (1982)<br>
        Rambo: First Blood Part II (1985)</p>
    <p>Adult TV Shows</p>
    </p>Grey's Anatomy (2005)<br>
    The Good Doctor (2017)<br>
    Station 19 (2018)<br>
    A Million Little Things (2018)<br>
    The Rookie (2018)<br>
    Big Sky (2020)<br>
    Queens (2021)<br>
    America's Funniest Home Videos (1989 as a special; 1990)<br>
    The Bachelor (2002)<br>
    The Bachelorette (2003–05; 2008)<br>
    Dancing with the Stars (2005)<br>
    Shark Tank (2009)<br>
    The Great Christmas Light Fight (2013)<br>
    Bachelor in Paradise (2014)<br>
    American Idol (2018)<br>
    Holey Moley (2019)<br>
    The Genetic Detective (2020)<br>
    Emergency Call (2020)<br>
    The Con (2020)<br>
    Pooch Perfect (2021)<br>
    When Nature Calls with Helen Mirren (2021)<br>
    The Ultimate Surfer (2021)</p>


{% endblock content %}
