{% extends 'base.html' %}
{% block content %}
    <h1>Video Games Page</h1>
    <h2>First Person Shooters</h2>
  <p>Battlefield 2042  (2021)<br>
    Call of Duty: Vanguard (2021)<br>
    Halo Infinite  (2021)<br>
    Call of Duty: Cold War (2020)<br>
    Doom Eternal   (2020)<br>
    Valorant   (2020)<br>
    Call of Duty: Modern Warfare   (2019)<br>
    Metro Exodus    (2019)<br>
    Apex Legends   (2018)<br>
    Call of Duty: Black Ops 4  (2018)<br>
    Halo 5: Guardians  (2015)<br>
    Tom Clancy's Rainbow Six Siege (2015)<br>
    Wolfenstein: The New Order (2014)<br>
    Borderlands 2  (2012)<br>
    Counter-Strike Global Offensive    (2012)<br>
    Halo 4 (2012)<br>
    Dead Island    (2011)<br>
    Borderlands    (2009)<br>
    Left 4 Dead 2 (2009)<br>
    Wolfenstein    (2009)<br>
    BioShock   (2007)<br>
    Call of Duty 4: Modern Warfare (2007)<br>
    Halo 3 (2007)<br>
    Portal (2007)<br>
    Halo 2 (2004)<br>
    007: Nightfire (2002)<br>
    Battlefield 1942   (2002)<br>
    Halo Combat Evolved    (2001)<br>
    Counter-Strike (2000)</p>
    <h2>Massive Multiplayer Online</h2>
    <p>New World  (2021)<br>
    Elyon (2020)<br>
    Ashes of Creation (2019)<br>
    Lost Ark  (2019)<br>
    Albion Online (2017)<br>
    The Elder Scrolls Online (2015)<br>
    Skyforge   (2015)<br>
    Black Desert Online  (2014)<br>
    ArcheAge    (2013)<br>
    Final Fantasy XIV   (2013)<br>
    Neverwinter (2013)<br>
    Blade & Soul    (2012)<br>
    Guild Wars 2 (2012)<br>
    Phantasy Star Online 2 (2012)<br>
    The Secret War (2012)<br>
    DC Universe Online (2011)<br>
    Rift (2011)<br>
    Star Wars: The Old Republic   (2011)<br>
    TERA    (2011)<br>
    Star Trek Online    (2010)<br>
    Age of Conan (2008)<br>
    Aion    (2008)<br>
    The Lord of the Rings Online  (2007)<br>
    World of Warcraft   (2004)<br>
    EVE Online    (2003)<br>
    Final Fantasy XI (2002)<br>
    Anarchy Online   (2001)<br>
    RuneScape   (2001)<br>
    EverQuest (1999)</p>
    <h2>Role Playing Games</h2>
  <p>Elden Ring  (2022)<br>
    Cyberpunk 2077  (2020)<br>
    Monster Hunter: World (2018)<br>
    Divinity: Original Sin 2 (2017)<br>
    NieR: Automata   (2017)<br>
    Dark Souls 3 (2016)<br>
    Persona 5 (2016)<br>
    Bloodborne   (2015)<br>
    Fallout 4 (2015)<br>
    Undertale    (2015)<br>
    The Witcher: Wild Hunt  (2015)<br>
    Dark Souls 2 (2014)<br>
    Diablo III    (2012)<br>
    Dark Souls (2011)<br>
    Dragon Age: Inquisition (2014)<br>
    The Elder Scrolls V: Skyrim (2011)<br>
    Fallout: New Vegas   (2010)<br>
    Mass Effect 2    (2010)<br>
    Dragon Age: Origins  (2009)<br>
    Fallout 3  (2008)<br>
    The Elder Scrolls IV: Oblivion  (2006)<br>
    Final Fantasy XII    (2006)<br>
    Star Wars: Knights of the Republic   (2003)<br>
    The Elder Scrolls III: Morrowind    (2002)<br>
    Diablo II (2000)<br>
    Final Fantasy IX (2000)<br>
    Fallout 2 (1998)<br>
    Fallout    (1997)<br>
    Final Fantasy VII   (1997)<br>
    Tales   (1995)</p>
{% endblock content %}
